<!DOCTYPE html>
<html>
<head>
  <title>OmgFront</title>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<a href="http://api.gnavi.co.jp/api/scope/" target="_blank">
<img src="http://api.gnavi.co.jp/api/img/credit/api_155_20.gif" width="155" height="20" border="0" alt="グルメ情報検索サイト　ぐるなび">
</a>
</html>
